In [22]:
#Các thư viện
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns

dataroot = '../WaterLevelPredction_SelectingModel//Data/'

In [23]:
#Gọi dữ liệu
df=pd.read_csv(dataroot + 'WaterLevelData_ver4.csv')

In [24]:
df['precipitation'].fillna(df['precipitation'].mean(), inplace=True)

In [25]:
le = LabelEncoder()
df['sluice_status'] = le.fit_transform(df['sluice_status'])

In [26]:
df['date'] = pd.to_datetime(df[['year', 'month', 'day']])

In [27]:
df.tail(10)

,year,month,day,water_level,hour,precipitation,sluice_status,date
3634,2020,12,27,480.11,7,11.787823,1,2020-12-27
3635,2020,12,27,480.11,19,11.787823,1,2020-12-27
3636,2020,12,28,480.10,7,11.787823,1,2020-12-28
3637,2020,12,28,480.10,19,11.787823,1,2020-12-28
3638,2020,12,29,480.10,7,11.787823,1,2020-12-29
3639,2020,12,29,480.10,19,11.787823,1,2020-12-29
3640,2020,12,30,480.09,7,11.787823,1,2020-12-30
3641,2020,12,30,480.09,19,11.787823,1,2020-12-30
3642,2020,12,31,480.08,7,11.787823,1,2020-12-31
3643,2020,12,31,480.08,19,11.787823,1,2020-12-31

In [28]:
df.to_pickle(dataroot + 'testdata.pkl')